openapi: 3.0.3
info:
  title: Spooky Labs Trading Platform API
  description: |
    AI Trading Agent Platform with complete explainability (FMEL).
    Supports agent submission, backtesting, paper trading, and leaderboards.
  version: 1.0.0
  contact:
    name: Spooky Labs Support
    email: support@spookylabs.com

servers:
  - url: https://api.spookylabs.com
    description: Production API Gateway

# Security schemes
components:
  securitySchemes:
    firebase:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            read: Read access to trading data
            write: Write access to submit agents
      x-google-issuer: https://securetoken.google.com/${PROJECT_ID}
      x-google-jwks_uri: https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com
      x-google-audiences: ${PROJECT_ID}

  schemas:
    Agent:
      type: object
      properties:
        agentId:
          type: string
          format: uuid
        agentName:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        userId:
          type: string
        status:
          type: string
          enum: [active, backtesting, paper_trading, paused, deleted]
        createdAt:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
      required:
        - agentName

    BacktestResult:
      type: object
      properties:
        sessionId:
          type: string
          format: uuid
        agentId:
          type: string
          format: uuid
        status:
          type: string
          enum: [running, completed, failed]
        initialValue:
          type: number
        finalValue:
          type: number
        totalReturn:
          type: number
        sharpeRatio:
          type: number
        maxDrawdown:
          type: number
        totalTrades:
          type: integer
        winningTrades:
          type: integer
        losingTrades:
          type: integer

    PaperTradingSession:
      type: object
      properties:
        sessionId:
          type: string
          format: uuid
        agentId:
          type: string
          format: uuid
        status:
          type: string
          enum: [starting, running, paused, stopped, error]
        currentValue:
          type: number
        totalPnl:
          type: number
        positions:
          type: object
          additionalProperties:
            type: object
            properties:
              size:
                type: number
              price:
                type: number
              value:
                type: number

    LeaderboardEntry:
      type: object
      properties:
        rank:
          type: integer
        agentId:
          type: string
        agentName:
          type: string
        userId:
          type: string
        metric:
          type: number
        metricType:
          type: string
          enum: [returns, sharpe, win_rate, total_pnl]

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time

# X-Google Backend Configuration
x-google-management:
  metrics:
    - name: agent-submissions
      displayName: Agent Submissions
      metricKind: DELTA
      valueType: INT64
    - name: backtest-requests
      displayName: Backtest Requests
      metricKind: DELTA
      valueType: INT64
    - name: paper-trading-sessions
      displayName: Paper Trading Sessions
      metricKind: GAUGE
      valueType: INT64

  quota:
    limits:
      - name: agent-submission-limit
        metric: agent-submissions
        unit: 1/min/{user}
        values:
          STANDARD: 10
      - name: backtest-limit
        metric: backtest-requests
        unit: 1/min/{user}
        values:
          STANDARD: 5

paths:
  # Health Check (Public)
  /health:
    get:
      summary: Health check endpoint
      operationId: healthCheck
      x-google-backend:
        address: https://platform-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  version:
                    type: string
                  timestamp:
                    type: string

  # Agent Management Endpoints
  /api/agents/submit:
    post:
      summary: Submit a new trading agent
      operationId: submitAgent
      security:
        - firebase: [write]
      x-google-backend:
        address: https://agents-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      x-google-ratelimit:
        rate: 10
        per: minute
        per_user: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                agentName:
                  type: string
                description:
                  type: string
                tags:
                  type: string
                file:
                  type: string
                  format: binary
              required:
                - agentName
                - file
      responses:
        '201':
          description: Agent submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  agentId:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded

  /api/agents/list:
    get:
      summary: List user's agents
      operationId: listAgents
      security:
        - firebase: [read]
      x-google-backend:
        address: https://agents-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            enum: [active, backtesting, paper_trading, paused]
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer

  /api/agents/{agentId}:
    get:
      summary: Get agent details
      operationId: getAgent
      security:
        - firebase: [read]
      x-google-backend:
        address: https://agents-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found

    delete:
      summary: Delete an agent
      operationId: deleteAgent
      security:
        - firebase: [write]
      x-google-backend:
        address: https://agents-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Agent deleted successfully
        '404':
          description: Agent not found

  # Backtesting Endpoints
  /api/backtest/{agentId}/start:
    post:
      summary: Start backtesting for an agent
      operationId: startBacktest
      security:
        - firebase: [write]
      x-google-backend:
        address: https://backtest-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      x-google-ratelimit:
        rate: 5
        per: minute
        per_user: true
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startDate:
                  type: string
                  format: date
                endDate:
                  type: string
                  format: date
                initialCash:
                  type: number
                  default: 100000
                symbols:
                  type: array
                  items:
                    type: string
      responses:
        '202':
          description: Backtest started
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                  buildId:
                    type: string
                  status:
                    type: string

  /api/backtest/{sessionId}/results:
    get:
      summary: Get backtest results
      operationId: getBacktestResults
      security:
        - firebase: [read]
      x-google-backend:
        address: https://backtest-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Backtest results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestResult'
        '404':
          description: Session not found

  # Paper Trading Endpoints
  # Note: Account creation/funding handled by external Cloud Functions
  # https://github.com/Spooky-Labs/Cloud-Functions
  /api/paper-trading/start:
    post:
      summary: Start paper trading session
      operationId: startPaperTrading
      security:
        - firebase: [write]
      x-google-backend:
        address: https://paper-trading-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agentId
                - accountId
              properties:
                agentId:
                  type: string
                  format: uuid
                  description: Agent ID to start trading
                accountId:
                  type: string
                  description: Alpaca account ID from external Cloud Functions
                symbols:
                  type: array
                  items:
                    type: string
                  default: ["SPY", "QQQ", "AAPL"]
      responses:
        '202':
          description: Paper trading started
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                  status:
                    type: string

  /api/paper-trading/status/{agentId}:
    get:
      summary: Get paper trading status
      operationId: getPaperTradingStatus
      security:
        - firebase: [read]
      x-google-backend:
        address: https://paper-trading-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paper trading status
          content:
            application/json:
              schema:
                type: object
                properties:
                  agentId:
                    type: string
                  status:
                    type: string
                    enum: [not_running, starting, running, not_found]
                  sessionId:
                    type: string
                  replicas:
                    type: integer
                  readyReplicas:
                    type: integer

  /api/paper-trading/stop:
    post:
      summary: Stop paper trading session
      operationId: stopPaperTrading
      security:
        - firebase: [write]
      x-google-backend:
        address: https://paper-trading-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agentId
              properties:
                agentId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Paper trading stopped
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string

  # Leaderboard (Public)
  /api/leaderboard:
    get:
      summary: Get public leaderboard
      operationId: getLeaderboard
      x-google-backend:
        address: https://leaderboard-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [backtest, paper_trading]
            default: paper_trading
        - name: metric
          in: query
          schema:
            type: string
            enum: [returns, sharpe, win_rate, total_pnl]
            default: returns
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly, all_time]
            default: weekly
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: Leaderboard entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  leaderboard:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeaderboardEntry'
                  updated_at:
                    type: string
                    format: date-time

  # FMEL Analytics
  /api/fmel/decisions:
    get:
      summary: Get FMEL decision records
      operationId: getFmelDecisions
      security:
        - firebase: [read]
      x-google-backend:
        address: https://fmel-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: agentId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: startDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: FMEL decision records
          content:
            application/json:
              schema:
                type: object
                properties:
                  decisions:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer

  /api/fmel/analytics:
    get:
      summary: Get FMEL analytics
      operationId: getFmelAnalytics
      security:
        - firebase: [read]
      x-google-backend:
        address: https://fmel-service-${HASH}.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
      parameters:
        - name: agentId
          in: query
          required: true
          schema:
            type: string
        - name: dateRange
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, all]
            default: 30d
      responses:
        '200':
          description: FMEL analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalDecisions:
                    type: integer
                  avgConfidence:
                    type: number
                  winRate:
                    type: number
                  metrics:
                    type: object